<%# Policies Index %>
<%= content_for :head do %>
  <%= stylesheet_link_tag 'datatables/css/jquery.datatables.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'datatables/css/jquery.datatables_themeroller.css', 'data-turbolinks-track' => true %>
<% end %>


<div class="page-inner">
  <div class="page-breadcrumb">
    <ol class="breadcrumb container">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Policies", "#", class: 'active' %></li>
    </ol>
  </div>
  <div class="page-title">
    <div class="container">
      <h3>Policies</h3>
    </div>
  </div>

  <div id="main-wrapper" class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class="panel-heading clearfix">
            <h4 class="panel-title">Policy Database</h4>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table id="example" class="display table dataTable" style="width: 100%; cellspacing: 0;">
                <thead>
                  <tr>
                    <th>Policy Number</th>
                    <th>Client Code</th>
                    <th>Insured Name</th>
                    <th>Effective Date</th>
                    <th>Broker</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Policy Number</th>
                    <th>Client Code</th>
                    <th>Insured Name</th>
                    <th>Effective Date</th>
                    <th>Broker</th>
                    <th>Status</th>
                  </tr>
                </tfoot>
                <tbody>
                  <% @policies.each do |policy| %>
                  <tr>
                    <td><%= link_to policy.policy_number, policy_path(policy) %></td>
                    <td><%= policy.client_code %></td>
                    <td><%= policy.name %></td>
                    <td><%= policy.B %></td>
                    <td><%= policy.broker.try(:name) || "None" %></td>
                    <td><%= policy.status %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Row -->
  </div><!-- Main Wrapper -->

<!-- Javascripts -->
<%= content_for :js_includes do %>
  <%#= javascript_include_tag 'moment/moment.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'datatables/js/jquery.datatables.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'pages/table-data.js', 'data-turbolinks-track' => true %>
<% end %>
