<%# Policies Show %>
<%= content_for :head do %>
  <%= stylesheet_link_tag 'x-editable/bootstrap3-editable/css/bootstrap-editable.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'x-editable/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'x-editable/inputs-ext/address/address.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'select2/css/select2.min.css', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'dropzone/dropzone.min.css', 'data-turbolinks-track' => true %>
  <style>
    .buttons {
      border-collapse: collapse;
    }
    .buttons button {
      width: 100%;
    }

    .tab-content {
      padding: 15px 0;
    }

    .tab-pane {
    }

    .review-button {
      margin-bottom: 30px;
      margin-top: 15px;
    }
  </style>
<% end %>

<div class="page-inner">
  <div class="page-breadcrumb">
    <ol class="breadcrumb container">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Policies", policies_path %></li>
      <li><%= link_to @policy.number, "#", class: 'active policy_number_display' %></li>
    </ol>
  </div>
  <div class="page-title">
    <div class="container">
      <h3><span class="policy_number_display"><%= @policy.number %></span> || <span class="policy_name_display"><%= @policy.name %></span></h3>
    </div>
  </div>
  <div id="main-wrapper" class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class="panel-body">
            <%= form_tag populate_policy_path, class:'dropzone', multipart: true do %>
              <div class="fallback">
                <input name="file" type="file" />
              </div>
              <div style="float: right;">
                <%= submit_tag "Populate", class:"btn btn-prime-gold" %>
              </div>
            <% end %>
          </div>
        </div>
      </div><!-- col-md-12 -->
    </div><!-- Row -->

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class="panel-body">
            <h2 class="no-m m-b-lg">Policy Information</h2>
            <hr>
            <h2 class="client_code_display"><%= @policy.code %></h2>

            <div role="tabpanel">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Fields</a></li>
                <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Endorsements</a></li>
                <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">Generate</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active fade in" id="tab1">
                  <%= render partial: 'xtable' %>
                </div><!-- tabpanel tab1 -->
                <div role="tabpanel" class="tab-pane fade in" id="tab2">
                  <%= render partial: 'endorsements' %>
                </div><!-- tabpanel tab2 -->
                <div role="tabpanel" class="tab-pane fade in" id="tab3">
                  <%= render partial: 'wizard' %>

                  <%- if false %>
                  <div class="text-center">
                    <div class="review-button">
                      <%= link_to pdf_policy_path(@policy) do %>
                        <button class="btn btn-prime-blue">
                          Declaration Pages
                        </button>
                      <% end %>
                    </div>
                    <div class="review-button">
                      <%= link_to generate_policy_path(@policy), 'data-no-turbolink' => true  do %>
                        <button class="btn btn-prime-gold" style="width:134px;">
                          Generate
                        </button>
                      <% end %>
                    </div>
                    <div class="review-button">
                      <%= link_to fillForm_policy_path(@policy), 'data-no-turbolink' => true  do %>
                        <button id='fill' class="btn btn-prime-gold" style="width:134px;">
                          Generate
                        </button>
                      <% end %>
                    </div>
                  </div>
                  <% end -%>
                </div><!-- tabpanel tab3 -->
              </div>
            </div>
          </div><!-- Panel Body -->
        </div>
      </div>
    </div><!-- Row -->
  </div><!-- Main Wrapper -->

  <!-- Javascripts -->
  <%= content_for :js_includes do %>
    <%= javascript_include_tag 'moment/moment.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'x-editable/bootstrap3-editable/js/bootstrap-editable.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'x-editable/inputs-ext/typeaheadjs/lib/typeahead.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'x-editable/inputs-ext/typeaheadjs/typeaheadjs.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'x-editable/inputs-ext/address/address.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'select2/js/select2.full.min.js', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pages/form-x-editable.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dropzone/dropzone.min.js', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' , 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery-validation/jquery.validate.min.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pages/form-wizard.js', 'data-turbolinks-track' => true %>

    <script>
      $('button.btn').click(function(){
        $(this).toggleClass('active');
      });
    </script>
  <% end %>
